.nav-bar {
  position: fixed;
  z-index: 100;
  width: 100vw;
  background-color: var(--main-blue);
  color: var(--white-blue);
  padding: 10px 20px;
  align-items: center;
  transition: 300ms ease-out;
  height: 60px;
  box-shadow: var(--dark-shadow);
}

.nav-bar .invisibutton {
  color: #e8ba06;
  display: flex;
  align-items: center;
}

.nav-bar .invisibutton > svg {
  height: 100%;
}

.nav-bar .invisibutton-wrapper {
  color: var(--white-blue);
}

.nav-bar .invisibutton-wrapper:hover {
  color: var(--hl-green);
}

.nav-bar.hidden {
  transform: scaleY(0);
  transform-origin: top;
}

.nav-bar.shown {
  transform: scaleY(1);
  transform-origin: top;
}

.nav-bar.hidden h1,
.nav-bar.hidden div,
.nav-bar.hidden select,
.nav-bar.hidden button {
  display: none;
}

.nav-title-img {
  height: 100%;
  /* width: 150px; */
}

.nav-bar-btn {
  /* background-color: var(--med-blue); */
  padding: 0;
  width: 150px;
  height: 100%;
}

.menu-wrapper {
  width: 150px;
}

@media (max-width: 500px) {
  .nav-bar {
    padding: 10px 0;
  }

  .nav-bar-btn {
    width: auto;
    margin-left: 10px;
  }

  .nav-title-img {
    height: 100%;
  }

  .nav-bar > .row-end {
    width: max-content;
  }
}
