.cover-page {
  height: 100vh;
  background-image: url(/public/Images/Sne-cover.jpg);
  background-position: center;
  gap: 20px;
  padding: 20px;
}

.title-image {
  width: 800px;
  max-width: 100%;
  transition: 300ms;
}

.title-image.large {
  width: 1000px;
}

.title-sub {
  color: antiquewhite;
  font-size: 50px;
  animation: fade-in 1000ms;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .cover-page {
    background-image: url(/public/Images/Sne-cover-mobi.jpg);
  }

  .title-sub {
    font-size: 36px;
  }
}
