.zoom-window {
  transition: 300ms;
  width: 100vw;
  height: calc(100vw * 1.45);
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  overflow-y: hidden;
  overflow-x: hidden;
  border: var(--black-border);
  box-shadow: var(--dark-shadow);
}

.zoom-window > .page-img {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: 300ms;
}

.zoom-window.portrait > .page-img {
  top: 0;
  left: 0;
  margin: 0;
}

.zoom-window.zoomed {
  overflow-y: scroll;
  overflow-x: scroll;
}

.zoom-window.zoomed > .page-img {
  width: 200vw;
}

.back-board {
  width: 200vw;
}

.zoom-btn-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.zoom-toggle,
.zoom-btn-wrapper > h2 {
  top: 40px;
  z-index: 5;
}

.zoom-toggle > svg {
  width: 40px;
  height: 40px;
}

.zoom-hint {
  position: absolute;
  bottom: 50px;
  text-align: center;
  width: 100vw;
  color: var(--gray-green);
}
