.panel-multi {
  width: 100vw;
  height: calc(100vw * 1.4);
  display: grid;
  grid-template: repeat(6, calc(100fr / 6)) / repeat(6, calc(100fr / 6));
  gap: 10px;
  padding: 10px;
  border: 2px solid black;
}

.clickable-panel {
  width: 100%;
  height: 100%;
}
