.page-nav-wrapper {
  margin-top: 20px;
}

.nav-button {
  width: 250px;
  height: 50px;
}

.nav-button > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nav-button > p {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  color: var(--white-blue);
  text-shadow: 1px 1px 1px black;
}
