.lang-stamp {
  gap: 0;
  outline: 4px solid var(--black-blue);
}

.stamp-button {
  width: 150px;
  height: 50px;
  background-color: var(--black-blue);
  color: var(--white-blue);
  font-family: var(--title-font);
  border: 2px solid var(--white-blue);
  font-size: 25px;
  padding: 0 10px;
}

.stamp-button:first-of-type {
  text-align: left;
}

.stamp-button:last-of-type {
  text-align: right;
}

.stamp-button:hover {
  background-color: var(--sdg-10);
}

.stamp-icon-outline {
  background-color: var(--white-blue);
  border-radius: 25px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.stamp-icon {
  background-color: var(--black-blue);
  color: var(--white-blue);
  text-align: center;
  width: 44px;
  height: 44px;
  border-radius: 22px;
}

.stamp-icon svg {
  margin-top: 2px;
  width: 40px;
  height: 40px;
}
