.lang-selector > div {
  background-color: var(--darker-green);
  color: var(--white-blue);
  font-size: 32px;
  font-weight: 900;
  border: 2px solid var(--white-blue);
  padding: 5px 10px;
  /* border-radius: 10px; */
  cursor: pointer;
  transition: 300ms;
  box-shadow: var(--dark-shadow);
}

.lang-selector > div:hover {
  background-color: var(--med-green);
}

.lang-selector input {
  display: none;
}

.lang-selector > input + div > svg {
  display: none;
}
