.nav-bar {
  position: fixed;
  z-index: 100;
  width: 100vw;
  background-color: #1b283d;
  color: #e7ba07;
  padding: 10px 20px;
  align-items: center;
  transition: height 300ms;
  min-height: 0;
}

.nav-bar.hidden {
  height: 0;
  padding: 0 20px;
}

.nav-bar.shown {
  height: 60px;
}

.nav-bar.hidden h1,
.nav-bar.hidden div,
.nav-bar.hidden select,
.nav-bar.hidden button {
  display: none;
}

.nav-title-img,
.nav-bar > div {
  width: 180px;
}
