* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
}

button,
a {
  cursor: pointer;
  transition: 300ms;
}

/* Flex Containers */

.row-start {
  display: flex;
}

.row-end {
  display: flex;
  justify-content: right;
  gap: 10px;
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.row-between {
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.col-start {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-end {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.invisibutton {
  border: none;
  background-color: transparent;
}

.invisibutton > svg {
  height: 30px;
  width: 30px;
}

.fit-height {
  height: 100%;
  width: 100%;
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
}
