:root {
  --main-blue: #223657;
  --darker-blue: #161a3f;
  --med-blue: #304d7a;
  --black-blue: #191822;
  --white-blue: #f9fbff;

  --med-green: #2bbeb0;
  --hl-green: #68c4ba;
  --darker-green: #3c7288;
  --gray-green: #566266;

  --white-yellow: #fff9cc;

  --dark-shadow: 0 0 6px var(--black-blue);
  --dark-shadow-left: -4px 0px 4px var(--black-blue);

  --title-font: komika-title;
  --body-font: komika-text;
}

@font-face {
  font-family: "komika-title";
  src: url("../fonts/KOMTITA_.ttf");
}

@font-face {
  font-family: "komika-text";
  src: url("../fonts/komika_text/KOMTXT__.ttf");
}
