:root {
  --main-blue: #223657;
  --darker-blue: #161a3f;
  --med-blue: #304d7a;
  --black-blue: #191822;
  --white-blue: #f9fbff;
  --gray-blue: #d3d7dd;

  --med-green: #2bbeb0;
  --hl-green: #26e4ce;
  --darker-green: #3c7288;
  --gray-green: #566266;

  --sdg-10: #df1a82;

  --white-yellow: #fff9cc;

  --dark-shadow: 0 0 6px var(--black-blue);
  --dark-shadow-left: -4px 0px 4px var(--black-blue);
  --dark-shadow-inset: inset 0 0 6px var(--black-blue);

  --white-border: 2px solid var(--white-blue);
  --black-border: 2px solid var(--black-blue);

  --title-font: komika-title;
  --body-font: komika-text;
  --cover-font: the-bold-font;
}

@font-face {
  font-family: "komika-title";
  src: url("../fonts/KOMTITA_.ttf");
}

@font-face {
  font-family: "komika-text";
  src: url("../fonts/komika_text/KOMTXT__.ttf");
}

@font-face {
  font-family: "the-bold-font";
  src: url("../fonts/the_bold_font/THEBOLDFONT.ttf");
}
