.panel-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
}

.cancel-button {
  position: absolute;
  top: 0;
  right: 0;
}

.panel-modal .invisibutton {
  color: white;
}

.panel-window {
  align-items: center;
  max-height: 100%;
}

.panel-img {
  max-height: calc(100vh - 20px);
  box-sizing: border-box;
}

.panel-img.landscape {
  max-height: none;
  max-width: 100%;
}

.panel-modal {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  background-color: transparent;
  border: none;
  max-height: 100%;
}

::backdrop {
  background-color: rgba(9, 12, 19, 0.6);
}

@media (max-width: 800px) {
  /* .panel-window {
    position: absolute;
  } */

  .panel-modal {
    width: 100vw;
    max-width: unset;
    margin: auto 0;
    /* height: 500px; */
  }

  .panel-modal > .row-between {
    gap: 0;
    width: 100vw;
    height: 100%;
  }

  .panel-window {
    overflow-x: scroll;
  }

  /* .next-panel,
  .prev-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  .next-panel {
    right: 0;
  }

  .prev-panel {
    left: 0;
    z-index: 5;
  } */
}
