.full-comic-page {
  width: 100vw;
  max-width: 1000px;
  height: 140vw;
  max-height: 1400px;
}

.full-comic-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel-multi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(12, 8.33fr) / repeat(12, 8.33fr);
  padding: 10px;
  box-shadow: var(--dark-shadow);
}

.clickable-panel {
  width: 100%;
  height: 100%;
}
