.cover-page {
  height: 100vh;
  background-image: url(/public/Images/Sne17_Cover_final_draft.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  gap: 20px;
  padding: 20px;
  padding-top: 80px;
  align-items: center;
}

.title-image {
  width: 800px;
  max-width: 100%;
  transition: 300ms;
}

.title-image.large {
  width: 1000px;
}

.sub-header {
  padding: 0 30px;
  width: 100%;
}

.title-sub {
  color: var(--white-blue);
  font-family: var(--cover-font);
  font-size: 50px;
  animation: fade-in 1000ms;
}

.lang-container {
  padding-top: 60px;
}

.cover-page .pdf-button {
  background-color: var(--black-blue);
  padding: 10px 20px;
  outline: var(--black-border);
  border: var(--white-border);
  font-family: var(--cover-font);
  flex-direction: column-reverse;
  height: max-content;
}

.cover-page .pdf-button:hover {
  /* background-color: var(--med-green); */
  /* color: var(--white-blue); */
  border: 2px solid var(--hl-green);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .cover-page {
    /* background-image: url(/public/Images/Sne-cover-mobi.jpg); */
    background-size: cover;
  }

  .title-sub {
    font-size: 36px;
  }
}

@media (max-width: 500px) {
  .sub-header {
    padding: 10px 20px;
  }

  .title-sub {
    font-size: 24px;
  }

  .cover-page .pdf-button {
    padding: 10px;
  }

  .cover-page .pdf-button svg {
    height: 30px;
    width: 30px;
  }
}
