.jtp-wrapper {
  flex-grow: 1;
  max-width: 300px;
}

.jtp-input {
  font-family: var(--body-font);
  color: #aec6ce;
  text-align: center;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--med-blue);
  box-shadow: 0 0 4px var(--black-blue) inset;
  transition: 300ms ease-in;
}

.jtp-input::placeholder {
  color: #aec6ce;
  transition: 300ms ease-in;
}

.jtp-input:focus::placeholder {
  color: var(--med-blue);
}

.jtp-input:focus {
  background-color: var(--white-blue);
  color: var(--black-blue);
}

.jtp-input:focus + .jtp-results,
.jtp-results:hover {
  transform: scaleY(1);
  visibility: visible;
}

.jtp-results {
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: 300ms ease-in;
  position: absolute;
  width: 100%;
  max-height: 200px;
  top: 100%;
  box-shadow: var(--dark-shadow);
  overflow-y: scroll;
}

.jtp-results::-webkit-scrollbar {
  background: var(--darker-blue);
}

.jtp-results::-webkit-scrollbar-thumb {
  background: var(--med-blue);
  box-shadow: 0 0 2px var(--black-blue) inset;
  border: 1px solid var(--darker-blue);
}

.jtp-results::-webkit-scrollbar-thumb:hover {
  background: var(--hl-green);
}

.jtp-button {
  width: 100%;
  display: block;
  background-color: var(--med-blue);
  border: 1px solid var(--darker-blue);
  padding: 10px;
  font-family: var(--body-font);
  color: var(--white-blue);
  transition: 200ms;
}

.jtp-button:hover {
  /* background-color: var(--darker-green); */
  background: var(--hl-green);

  color: var(--black-blue);
}
